<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{ "/img/logos/envato.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="Logo Envato">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{ "/img/logos/designmodo.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="Logo Designmodo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{ "/img/logos/themeforest.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="Logo ThemeForest">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{ "/img/logos/creative-market.jpg" | prepend: site.baseurl }}" class="img-responsive img-centered" alt="Logo Creative Market">
                    </a>
                </div> -->
            </div>
        </div>
    </aside>